/* :root {
  --gradient: linear-gradient(-45deg, #33ccff, #ff99cc);
} */

.App {
  text-align: center;
  display: flex;
  /* background-color: #282c34; */
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.chatbox {
  flex: 1;
  position: relative;
  overflow-y: scroll;
  background: linear-gradient(45deg, #33ccff, #ff99cc);
  /* background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  ); */
  /* background-size: 400% 400%;
  background-image: var(--gradient);
  animation: bg-animation 25s infinite alternate; */
  /* 
  -webkit-animation: chatbox 29s ease infinite;
  -moz-animation: chatbox 29s ease infinite;
  animation: chatbox 29s ease infinite; */
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.choices {
  /* flex: 1;
  background-color: #343541;
  width: 100%;
  height: auto; */
  display: flex;
  justify-content: center;
}

/* .choices-grid {
  margin: 0 auto;
  flex: 1;
    background-color: #343541;
    width: 100%;
    height: auto; 
} */

.measurements-form {
  flex: 1;
  /* background-color: #343541; */
  width: 100%;
  margin: 12px;
  min-height: 200px;
  display: flex;
  justify-content: center;
}

.submit-buttons {
  flex: 1;
  /* background-color: #343541; */
  max-width: 800px;
  margin: 0 auto;
  min-height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.submit {
  padding: 12px;
  border: 1px solid white;
  text-align: center;
  transition: ease 0.25s all;
}

.submit:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chat-input-holder {
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-input-textarea {
  background-color: #40414f;
  width: 90%;
  border: none;
  border-color: none;
  border-radius: 5px;
  outline: none;
  padding: 12px;
  color: white;
  font-size: 1.25em;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chat-log-box {
  width: 100%;
}
.chat-log {
  text-align: left;
  margin-bottom: 72px;
}
.loading {
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: auto;
}
.chat-message.chatgpt {
  background-color: #444654;
  align-items: center;
}

.chat-message-center {
  display: flex;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}
.chat-message-header {
  display: flex;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.avatar {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar.chatgpt {
  background: inherit;
  /* border-radius: 50%; */
  width: 40px;
  height: 40px;
}

.message {
  padding-left: 40px;
  padding-right: 40px;
  white-space: pre-line;
}

.add-form {
  margin-bottom: 40px;
  float: left;
  min-height: 100px;
  width: 100%;
}

.form-control {
  margin: 20px;
  display: inline-block;
  text-align: left;
}

.form-control label {
  font-size: 20px;
  display: block;
}

.form-control input {
  width: 100px;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.dropdown {
  background-color: "#1976d2";
  color: "white";
  text-align: "center";
}

.private {
  background-color: grey;
  border-radius: 5px;
}
.input-form {
  border-radius: 5px;
  border: 1px;
}
.form-control-check {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}



.form-control-check input {
  /* flex: 2; */
  height: 20px;
  width: 50px;
}

.row {
  display: flex;
}

.new-plan {
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.new-plan button {
  margin: 12px;
  padding: 12px;
  width: 150px;
  border-radius: 5px;
  transition: ease 0.25s all;
}

@media screen and (max-width: 1200px) {
  choices {
    height: 800px;


  }
}
